<p>
  <mat-toolbar >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>
</p>
<mat-expansion-panel [(expanded)]="panelOpenState" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Agregar una persona
    </mat-panel-title>
    <mat-panel-description>
      Click aqui...
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Crear persona</mat-card-title>
      <mat-card-subtitle>Todos los campos son obligatorios</mat-card-subtitle>
    </mat-card-header>

    <div class="formularioRegistro">
      <form [formGroup]="personaForm" (ngSubmit)="guardar()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" class="form-control">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido" class="form-control">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput type="number" formControlName="edad" class="form-control">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un pais</mat-label>
            <mat-select name="pais" id="pais" formControlName="pais">
              <mat-option [value]="item" *ngFor="let item of paises">{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un estado o departamento</mat-label>
            <mat-select name="estado" id="estado" formControlName="estado">
              <mat-option [value]="item" *ngFor="let item of estados">{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-button color="primary" type="submit" [disabled]="personaForm.invalid">Guardar</button>
      </form>
    </div>
  </mat-card>

</mat-expansion-panel>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Personas registradas</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <div class="mat-elevation-z8">
    <table mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="last-name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>
  
      <ng-container matColumnDef="age">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
      </ng-container>
  
      <ng-container matColumnDef="country-name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Pais </th>
        <td mat-cell *matCellDef="let element"> {{element.pais.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="state-name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element">
  
          <div class="example-button-container">
            <button mat-mini-fab color="basic" aria-label="Example icon button with a delete icon"
              (click)="editar(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
              (click)="eliminar(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</mat-card>

<router-outlet></router-outlet>